<footer class="footer">
    <div class="footer-container">
    <div class="footer-section logo-section">
        <div class="logo">
            <img src="./japanese_food (1).svg" alt="Bistro Bliss Logo" class="footer-logo" />
            <h4>Bistro Bliss</h4>
        </div>
        <p>
            In the new era of technology we look at the future with certainty and pride
            for our company and.
        </p>
        <!-- <div class="social-icons">
            <a href="#"><i class="fab fa-twitter"> </i></a>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-github"></i></a>
        </div> -->
    </div>
    <div class="footer-section pages-section">
        <h4>Pages</h4>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Menu</a></li>
            <li><a href="#">Pricing</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Delivery</a></li>
        </ul>
    </div>
    <div class="footer-section utility-section">
        <h4>Utility Pages</h4>
        <ul>
            <li><a href="#">Start Here</a></li>
            <li><a href="#">Styleguide</a></li>
            <li><a href="#">Password Protected</a></li>
            <li><a href="#">404 Not Found</a></li>
            <li><a href="#">Licenses</a></li>
            <li><a href="#">Changelog</a></li>
            <li><a href="#">View More</a></li>
        </ul>
    </div>
    <div class="footer-section instagram-section">
        <h4>Follow Us On Instagram</h4>
        <div class="instagram-grid">
            <img src="./f1.png" alt="Food 1" />
            <img src="./f2.png" alt="Food 2" />
            <img src="./f3.png" alt="Food 3" />
            <img src="./f4.png" alt="Food 4" />
        </div>
    </div>
    </div>
    <div class="footer-bottom">
        <p>Copyright © 2023 Hashtag Developer. All Rights Reserved</p>
    </div>
</footer>