<div id="landingSection">
    
        <div id="landingSectionText">
    
            <h1>Best food for your taste</h1>
            <p>Discover delectable cuisine and unforgettable moments in our welcoming, culinary haven.</p>
            <ul>

                <li id="bookATable"><a href="#menuBrowse1">Book A Table</a></li>
                <li id ="exploreMenu"><a routerLink="/menu">Explore Menu</a></li>

            </ul>
    
        </div>
    
    <div class="image-container"><img src=".\homeBackground.png" alt=""/></div>

</div>