<app-navtop></app-navtop>
<nav>
    <div id="leftNavLogo">
        <img src=".\japanese_food.svg" alt="Logo"/> 
        Bistro Bliss



    </div>

    <ul id="centerNavLinks">
        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/About" routerLinkActive="active">About</a></li>
        <li><a routerLink="/Menu" routerLinkActive="active">Menu</a></li>
        <li><a routerLink="/Pages" routerLinkActive="active">Pages</a></li>
        <li><a routerLink="/Contact" routerLinkActive="active">Contact</a></li>
    </ul>

    <a id="rightNavBook">Book A Table</a>

</nav>

