<app-navtop></app-navtop>
<nav>
    <div id="leftNavLogo">
        <img src=".\japanese_food.svg" alt="Logo"/> 
        Bistro Bliss



    </div>

    <ul id="centerNavLinks">
        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/tasks" routerLinkActive="active">Tasks</a></li>
        <li><a routerLink="/about" routerLinkActive="active">About</a></li>
        <li><a routerLink="/about" routerLinkActive="active">About</a></li>
        <li><a routerLink="/about" routerLinkActive="active">About</a></li>
    </ul>

    <a id="rightNavBook">Book A Table</a>

</nav>

