<app-navtop></app-navtop>
<nav>
    <div id="leftNavLogo">
        <img src=".\japanese_food.svg" alt="Logo"/> 
        Bistro Bliss



    </div>

    <ul id="centerNavLinks">
        <li><a routerLink="/" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/about" routerLinkActive="active">About</a></li>
        <li><a routerLink="/menu" routerLinkActive="active">Menu</a></li>
        <li><a routerLink="/pages" routerLinkActive="active">Pages</a></li>
        <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
    </ul>

    <a id="rightNavBook" routerLink="/account">Account</a>

</nav>

