<div class="container">

    <div class="card">
        <h1>Register</h1>
        <!-- <p>get account details here and check cookies for login / register</p> -->
        <form (submit)="onSubmit($event)" method="post">
            @if (errorMessage){
                <div class="alert alert-warning m-0" role="alert">
                    Error:
                @for (item of errorMessage; track $index) {
                    {{item.msg}}
                    <br>
                }
                </div>
            } 
            <input type="text" name="email" placeholder="email">
            <input type="text" name="username" placeholder="username">
            <input type="password" name="password" placeholder="password">
            <label for="file-upload" class="custom-file-upload">
                Choose a profile image
            </label>
            <input id="file-upload" type="file" name="image" accept="image/*" style="display: none;">
            <input type="submit" value="Register">

        </form>
        <p>Have an account? <a routerLink="/account/login">Login</a></p>
    
    
    </div>

</div>

<!-- 
@if (errorMessage){
    <div class="alert alert-warning m-0" role="alert">
        Error:
    @for (item of errorMessage; track $index) {
        {{item.msg}}
        <br>
    }
    </div>
} 
errorMessage: any = '';
-->