.container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 149px);
    background-color: yellow;
}

.card
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 500px;
    height: 600px;
    background-color: tomato;
    width: 500px;
    border-radius: 30px;
    padding: 20px;
}
h1
{
    background-color: thistle;
}


form
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 70%;
    gap: 20px;
    background-color: turquoise;
}

input
{
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 10px;
}
input[type="submit"]:hover
{
    cursor: pointer;
    background-color: rgb(173, 52, 62) !important;
    color: white;

}

a
{
    text-decoration: none;
    color: blue;
    /* background-color: rgb(173, 52, 62); */
}

