.table-active{
    color: whitesmoke;
    font-weight: bold;
    background-color: lightslategray !important;
}
.tableTitle th
{
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 20px 10px 0 0;
    padding: 10px;
    text-align: center;
    transition: all 0.3s;
    margin: 0;
}
.tableTitle th:hover
{
    background-color: darkgray;
}

.tableTitle
{
    font-size: 30px;
    font-weight: bold;
    border-radius: 20px 10px 0 0;
    padding: 10px;
    text-align: center;
    transition: all 0.3s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100%;
}

#dataTable td
{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: wrap;
    max-width: 250px;
    margin: 0;
    padding: 10px;
    height: 100%;


}
#dataTable td img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px; 
}
/* #dataTable td div
{
    width: 100%;
    word-wrap: break-word !important; 
    word-break: break-all !important; 
} */

td
{
width: 100%;
height: 100%;
margin: 0;
max-width: 250px;
word-wrap: break-word; /* This will wrap the text to a new line */
word-break: break-all; /* This will break the word to fit within the width */
font-weight: normal;
}

.tableHolder
{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    /* height: calc(100vh - 149px); */
    /* background-color: yellow; */
    margin: 0;
    padding: 30px;

}

table
{
    max-width: 100%;
}
.equal-width-table th,
.equal-width-table td {
    width: 1%;
    white-space: nowrap;
}

input, select
{
    width: 100%;
    /* padding: 5px; */
    margin: 0;
}

.create, .delete, .edit
{
    padding: 5px;
    border-radius: 10px;
    font-size: 16px;
    border: none;
    background-color: rgba(119, 136, 153, 0.499);
    color: whitesmoke;
    text-decoration: none;
    width: 100%;
    height: 100%;
}
.delete,.edit
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.create:hover
{
    background-color: lightslategray;
}
.delete:hover
{
    background-color: rgb(173, 52, 62);
}
.edit:hover
{
    background-color: rgb(43, 116, 190);
}
.actionTd
{

    width: auto;
    /* width: 100%;
    height: 100%; */
    /* gap: 20px;
    background-color: turquoise; */
    /* width: 100%; */
    /* padding: 5px; */
    margin: 0;
}


