<!-- <p>edit-user works!</p> -->
<div class="container">

    <div class="card" id="editUser">
        @if(showForm){        
            <h1>Edit User</h1>
            <!-- <p>get account details here and check cookies for login / register</p> -->
            <form (submit)="onSubmit($event)" method="post">
                <input type="text" name="email" placeholder="email" [value]="email">
                <input type="text" name="username" placeholder="username" [value]="username">
                <input type="password" name="password" placeholder="password" > <!-- [value]="password" -->
                @if(isAdmin){
                    <select [value]="role" name="role">
                        <option value="user">user</option>
                        <option value="admin">admin</option>
                    </select>
                }
                <label for="file-upload" class="custom-file-upload"> 
                    Choose a profile image
                </label>
                <input id="file-upload" type="file" name="image" accept="image/*" style="display: none;">
                <div class="onUpdateAction">
                    <input (click)="previousPage()" type="submit" value="Back">
                    <input type="submit" value="Update">
                </div>
            </form>
        }
        @else {
            <h1>{{updateMessage}}</h1>
            <div class="onUpdateAction">
                <input (click)="previousPage()" type="submit" value="Back">
                <input (click)="showForm = true" type="submit" value="Edit User">
            </div>
        }
    
    
    </div>

</div>