<div id="navTop">
        <ul id="leftTop">

            <li><a href="#"><i class="fa-solid fa-phone"></i> (414) 857 - 0107</a></li>
            <li><a href="#"><i class="fa-regular fa-envelope"></i> yummy&#64;bistrobliss</a></li>

        </ul>



        <ul id="rightTop">
            
            <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-github"></i></a></li>


        </ul>



</div>