#navTop
{
    background-color: rgb(71, 71, 71);
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    font: 400 14px DM Sans, sans-serif;
}

ul
{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

a
{
    text-decoration: none;
    color: white;
    display: flex;
    gap: 10px;
    align-items: center;
}

#rightTop
{
    display: flex;
    align-items: center;
    gap: 10px;
}

#rightTop i
{
    background-color: rgb(92, 92, 92);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

