<div class="container  p-0 m-0 mx-auto">
    <h2>Browse Our Menu</h2>
    <div class="cardContainer">
        <div class="card">
            <img src="./rice.svg" alt="food1">
            <h3>Breakfast</h3>
            <p>In the new era of technology we look in the future with certainty and pride for our life.</p>
            <a routerlink="/menu/Breakfast">Explore Menu</a>
        </div>
        <div class="card">
            <img src="./rice.svg" alt="food2">
            <h3>Main Dishes</h3>
            <p>In the new era of technology we look in the future with certainty and pride for our life.</p>
            <a routerlink="/menu/Main">Explore Menu</a>
        </div>
        <div class="card">
            <img src="./drink.svg" alt="food3">
            <h3>Drinks</h3>
            <p>In the new era of technology we look in the future with certainty and pride for our life.</p>
            <a routerlink="/menu/Drinks">Explore Menu</a>
        </div>
        <div class="card">
            <img src="./desert.svg" alt="food4">
            <h3>Desserts</h3>
            <p>In the new era of technology we look in the future with certainty and pride for our life.</p>
            <a routerlink="/menu/Desserts">Explore Menu</a>
        </div>
    </div>
</div>
